@keyframes animaLoading {
  0% {@include opacity(1);}
  100% {@include opacity(0);}
}
@keyframes animaIn {
  0% {@include opacity(0); @include transform(translateY(30px));}
  100% {@include opacity(1); @include transform(translateY(0px));}
}

@keyframes animaLogo {
  0% {@include opacity(1); @include transform(translateY(0) translateX(-50%)); left: 50%;}
  30% {@include opacity(0); @include transform(translateY(0) translateX(-50%)); left: 50%;}
  60% {@include opacity(0); @include transform(translateY(0) translateX(-50%)); left: 50%;}
  61% {
    left: 40px;
    @include opacity(0);
    @include transform(translateY(-100%) translateX(0%));
  }
  80% {
    left: 40px;
    @include opacity(0);
    @include transform(translateY(-100%) translateX(0%));
  }
  100% {
    left: 40px;
    @include opacity(1);
    @include transform(translateY(0) translateX(0));
  }
}
