$font: "Arial", "Helvetica Neue", sans-serif;

/* EASING */
$cubic: cubic-bezier(0.4,0.1,0.25,1);
$cubic2: cubic-bezier(0.7,0,0.3,1);
$cubic-elastic: cubic-bezier(0.65, -0.6, 0.24, 1.65);
$cubic-in-out: cubic-bezier(.6,.99,.6,.99);

/* COLORS */
$color-primary:         #2e475e;
$color-secondary:       #2E90E8;
$color-title:           #d86371;
$text-color:            #525252;

$red-color:             #d80101;
$grey-color:            #757575;