<div class="general-box small">
    <form [formGroup]="form" (submit)="submitPerson()" novalidate>
      <div class="field">
        <label>Full Name:</label>
        <input type="text" formControlName="name" />
      </div>
      <div class="field">
        <label>CPF:</label>
        <input type="text" formControlName="cpf" />
      </div>
      <div class="field">
        <label>Phone number:</label>
        <input type="text" formControlName="phone" />
      </div>
      <div class="field">
        <label>E-mail:</label>
        <input type="text" formControlName="email" />
      </div>
      <div class="row-btn">
        <button type="button" class="btn-default" [routerLink]="['/list']">Back</button>
        <div class="row-btn-actions" [class.edit]="edit">
            <button *ngIf="edit" type="button" class="btn-warn" (click)="removePerson()">Remove</button>
            <button [disabled]="!form.valid" type="submit">{{(edit ? 'Save' : 'Add')}}</button>
        </div>
      </div>
      
    </form>
</div>