<div class="row-btn">
  <button [routerLink]="['/adicionar']">Add person</button>
</div>
<div class="general-box">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Cpf</th>
        <th>Phone number</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of listaPersons" routerLink="/detail/{{person.id}}">
        <td>{{person.name}}</td>
        <td>{{person.cpf}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.email}}</td>
      </tr>
    </tbody>
  </table>
</div>